<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<title>Voluntary app</title>
Tehtävien määrä: {{ count }} 
<hr>
{% for task in tasks %}
<i>Tehtävän id</i> {{ task.id }}
<p>
<a href="/task/{{ task.id }}"><i>Otsikko:</i> {{task.taskname}}</a>
<!--<i>Otsikko:</i> {{ task.taskname }}-->
<p>
<i>Tehtävä luotu:</i> {{ task.time }}
<p>
<i>Tehtävänanto</i> {{ task.content }}
<p>
<i>Lähettäjä:</i> {{ task.username }}
<p>
<i>Status:</i> {{ task.task_state }}
<!--<form action="/comment/{{ task.id }}" method="post">-->
<!--Kommentoi: <br>-->
<!--<textarea name="comment" rows="3" cols="40"></textarea>-->
<!--<br>-->
<!--<input type="submit" value="Lähetä">-->
<!--</form>-->
<hr>
{% endfor %}

{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %} 

{% endblock %}
