<title>Voluntary app</title>
Tehtävien määrä: {{ count }}
<hr>
{% for task in tasks %}
<i>Otsikko:</i> {{ task[0] }}
<p>
<i>Tehtävänanto</i> {{ task[1] }}
<p>
<i>Lähettäjä:</i> {{ task[2] }}
<p>
<form action="/comment" method="post">
Viesti: <br>
<textarea name="comment" rows="2" cols="40"></textarea>
<br>
<input type="submit" value="Lähetä">
</form>

<hr>
{% endfor %}

{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
