<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<title>Voluntary app</title>

Avoimien tehtävien määrä ryhmissäsi: {{ count_todo }}     || Käynnissä olevien tehtävien määrä ryhmissäsi: {{ count_working }} 
<p></p>
Sinulla tehtäviä suoritettu: {{ tasks_done }}                    || Sinulla yhteensä tunteja käytetty tehtäviin: {{ work_done}}
<p>
Eniten tehtäviä on tehnyt {{ most_tasks_user }}, {{ most_tasks_count }} kpl
<p></p>
Eniten tunteja on tehnyt {{ most_hours_user }}, {{ most_hours_hours }} tuntia
<p>

<a href="/teams">Uuteen tiimiin voit liittyä Teams sivulla</a>
<p>
<hr>
{% for task in tasks %}
<p>
{{ task.time }}<a>    ||    luonut:  </a>{{ task.username }}
<p>
<a href="/task/{{ task.id }}"><i>Tehtävä:</i> {{task.taskname}}</a>
<p>
<i>Status:</i> {{ task.task_state }}
<hr>

{% endfor %}

{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %} 

{% endblock %}
