<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Voluntee App - {% block title %}{% endblock %}</title>
<h1>Voluntee App</h1>
<a href="/">Home</a>
<a href="/login">Login</a>
<a href="/new">New task</a>
<a href="/mytasks">My tasks</a>
<a href="/teams">Teams</a>
<a href="/userlist">Users</a>
<a href="/archive">Archive</a>
{% if session.user_id != 0 %}
<a href="/profile/{{session.user_id}}">My profile</a>
{% endif %}
<hr>
{% block content %}{% endblock %}
<hr>

Lopputekstit.
