<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<form action="/newteam" method="post">
Tiiminimi: <input type="text" name="teamname">
<p>
Salasana: <input type="password" name="password1">
<p>
Salasana uudestaan: <input type="password" name="password2">
<p>
<input type="submit" value="Luo tiimi">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}
