<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

{% if show %}
<form action="/update_profile/{{ id }}" method="POST">
<input type="submit" value="Päivitä profiili">
</form>
{% endif %}

Nimi:    {{ name }}
<br>
Ikä:    {{ age }}
<br>
Motto:    {{ motto }}
<br>
Sisältöä:    {{ content }}
<br>
Profiili päivitetty:    {{ updated }}


{% endblock %}



