<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

{% if status != 'DONE' %}
<form action="/update_task/{{ id }}" method="POST">
<input type="submit" value="Muokkaa tehtävää">
</form>
{% endif %}

<hr>
Tehtävä:    {{ topic }}
<p>
Tila:    {{ status }}     Aika arvio työmäästä:    {{ work_time }}  tuntia
<p>
Tehtävänanto:
{{ content }}
<p>
<p>
{% if status != 'DONE' %}
<form action="/update/{{ id }}" method="POST">
<input type="submit" value={{ message }}>
</form>
{% endif %}
</hr>

{% for comment in comments %}
<hr>
<i>{{comment.time}}<a>    || </a>{{ comment.username }}<a>:    </a>{{ comment.comment }}</i>
</hr>
{% endfor %}
<p></p>
Kommentoi:
<p>
<form action="/comment/{{ id }}" method="POST">
<input type="text" name="comment"></p>
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}
