<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}


<form action="/send_update_profile/{{ id }}" method="post">
Nimi: <input type="text" name="name">
<p>
Ikä: <input type="text" name="age">
<p>
Motto: <input type="text" name="motto">
<p>
Sisältöä: <input type="text" name="content">
<p>
<input type="submit" value="Päivitä profiili">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>
<form action="/profile/{{ id }}" method="POST">
<input type="submit" value="Peruuta">

</form>

{% endblock %}

